* {
	box-sizing: border-box;
}
div{
	/*background-color: powderblue;*/
}
p{
	width: 50%;
	/*border: 1px solid black;*/
	float: left;
	padding: 10px;
}
#p1 {
	/*background-color: #A52A2A;*/
}
#p2{
	/*background-color: #DEB887;*/
}
section{
	clear: left;
}
